{% extends "layout.html" %}
{% block body %}

<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="text-right">
        <h1 class="display-4">Erstelle deine Angebote</h1>
      </div>
    
      <form id="createRewardForm" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-row">
          <div class="form-group col-8">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
          </div>
          <div class="form-group col-4">
            {{ form.category_form.label }}
            {{ form.category_form(class="form-control") }}
          </div>
        </div>
        <div class="form-group">
          {{ form.description.label }}
          {{ form.description(class="form-control") }}
        </div>
        <div class="form-row">
          <div class="form-group col-8">
            {{ form.category_time.label }}
            {{ form.category_time(class="form-control") }}
          </div>
          <div class="form-group col-4">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-8">
            {{ form.number.label }}
            {{ form.number(class="form-control") }}
          </div>
          <div class="form-group col-4 text-center">
            {{ form.submit(class="btn btn-primary mt-3") }}
          </div>
        </div>
      </form>
      
    </div>
  </div>
  
  <div class="row justify-content-center" style="margin-top:30px;">
    <div class="col-10">
      <div class="card-deck justify-content-center">
      {% for r in rewards %}
        <div class="card my-3" style="min-width:250px; max-width:250px;">
          <div class="card-body">
            <h5 class="card-title">{{ r.title }}</h5>
            <p class="card-text">{{ r.description }}</p>
          </div>
          <div class="card-footer">
            <strong>{{ r.price | int }}€</strong>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}