{% extends "layout.html" %}
{% block body %}

<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="text-right">
        <h1 class="display-4">Erstelle dein Künstlerprofil</h1>
      </div>
      
      <form id="createPageForm" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.artist_name.label }}
          {{ form.artist_name(class="form-control") }}
          {{ form.titlepicture_path() }}
        </div>
        <div class="form-row">
          <div class="form-group col-8">
            {{ form.artist_job.label }}
            {{ form.artist_job(class="form-control") }}
          </div>
          <div class="form-group col-4">
            {{ form.artist_category.label }}
            {{ form.artist_category(class="form-control") }}
          </div>
        </div>
        
        <!-- hier google maps javascript zeug machen -->
        <div class="form-group">
          {{ form.artist_location.label }}
          {{ form.artist_location(class="form-control") }}
        </div>
        
        <div style="display:none;">
          {{ form.artist_location_long() }}
          {{ form.artist_location_lat() }}
        </div>
        <!--   -->
        
        <div class="form-group">
          {{ form.description_title.label }}
          {{ form.description_title(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description_general.label }}
          {{ form.description_general(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description_crisis.label }}
          {{ form.description_crisis(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description_rewards.label }}
          {{ form.description_rewards(class="form-control") }}
        </div>
        
        <div class="text-center">
          {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function initializeAuto() {
    var input = document.getElementById('addressfield');
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('secretlat').value = place.geometry.location.lat();
            document.getElementById('secretlng').value = place.geometry.location.lng();
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1nwIzL_OeyOWWRo682BTm1DkvPnactro&libraries=places&callback=initializeAuto" async defer></script>

{{super()}}
{% endblock %}