<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HomeServer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
  </head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-md">
    <a href="{{ url_for('listPages') }}" class="navbar-brand"><img src="{{url_for('.static', filename='images/logo_2a.png')}}"></a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link h4" href="{{ url_for('listPages') }}">Startseite</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link h4" href="{{ url_for('createPage') }}">Künstlerprofil erstellen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4" href="{{ url_for('logout') }}">Logout</a>
        </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link h4" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
    
{% block body %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>