{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="mb-3">
        <form id="locationForm" action="" method="post" width="100%">
          {{ form.hidden_tag() }}
          <div class="form-row">
            <div class="form-group col-5">
              {{ wtf.form_field(form.location) }}
            </div>
            <div style="display:none;">
              {{ wtf.form_field(form.secretlng) }}
            </div>
            <div style="display:none;">
              {{ wtf.form_field(form.secretlat) }}
            </div>
            <div class="form-group col-5">
              {{ wtf.form_field(form.categories) }}
            </div>
            <div class="form-group col-2 d-flex align-items-end">
              <button class="btn btn-primary btn-block mb-3" id="locationSubmit" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
        
      <div class="card-deck justify-content-center">
        {% for p in distances %}
        <div class="card mb-3" style="min-width:250px; max-width:250px;">
          <img class="card-img-top" src={{p.titlepicture_path}}>
          <div class="card-body">
            <h5 class="card-title">{{p.artist_name}}</h5>
            <p class="card-text">{{p.artist_job}}, Ort, {{distances[p]}}km</p>
            <a href="{{url_for("page", PageId=p.id) }}" class="stretched-link"></a>
          </div>
          <div class="card-footer">
            <strong>10€:</strong> Dankeschön-Postkarte
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function initializeAuto() {
    var input = document.getElementById('addressfield');
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('secretlat').value = place.geometry.location.lat();
            document.getElementById('secretlng').value = place.geometry.location.lng();
            $("#locationForm").submit()
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1nwIzL_OeyOWWRo682BTm1DkvPnactro&libraries=places&callback=initializeAuto" async defer></script>

{{super()}}
{% endblock %}