{% extends "layout.html" %}
{% block body %}

<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card-deck justify-content-center">
        {% for p in pages %}
        <div class="card mb-3" style="min-width:250px; max-width:250px;">
          <img class="card-img-top" src={{ url_for(".static", filename="images/image.jpg") }}>
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Beruf, Ort, eventuell noch mehr Text</p>
            <a href="link/zur/seite" class="stretched-link"></a>
          </div>
          <div class="card-footer">
            <strong>10€:</strong> Dankeschön-Postkarte
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}