{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <div class="col-8">
      <p>
        <h1 class="display-3">{{page.artist_name}}</h1>
        <h3>{{page.artist_category}}, {{page.artist_job}}</h3>
      </p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-5">
      <img src=".{{page.titlepicture_path}}" class="w-100 mb-3" style="height:250px;">
      
      <div class="accordion" id="accordionExample">
        <div class="card">
        <div class="card-header" id="headingOne">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4>Allgemeine Beschreibung</h4>
            </button>
        </div>
        
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                {{page.description_general}}
            </div>
        </div>
        </div>
        
        <div class="card">
        <div class="card-header" id="headingTwo">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4>Krisenbeschreibung</h4>
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                {{page.description_crisis}}
            </div>
        </div>
        </div>
        
        <div class="card">
        <div class="card-header" id="headingThree">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4>Beschreibung der Belohnungen</h4>
            </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                {{page.description_rewards}}
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-deck justify-content-center">
        {% for r in rewards %}
        <div class="card mb-3" style="min-width:400px; max-width:400px;">
        <div class="card-body">
            <h5 class="card-title">{{r.title}}</h5>
            <p class="card-text">{{r.description}}</p>
            <a href="link/zum/Kaufen" class="stretched-link"></a>
        </div>
        <div class="card-footer">
            <strong>{{r.price | int}}€</strong> <span class="float-right">Jetzt Kaufen</span>
        </div>
        </div>
  
        {% endfor %}
      </div>
    </div>
  </div>
</div>
    
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{url_for('.static', filename='main.js')}}"></script>
{{super()}}
{% endblock %}